
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>강아지 감정 분석</title>
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="uzsrA6qxqPfXApi4UhegtWC2aZu8QpXFrybmnL4ku7TDQRHLQ704H3fLdWA4ybsG">
        <p><label for="id_name">강아지 이름:</label> <input type="text" name="name" maxlength="50" required id="id_name"></p>
        <p><label for="id_dog_image">강아지 사진:</label> <input type="file" name="dog_image" accept="image/*" required id="id_dog_image"></p>
        <button type="submit">사진 등록</button>
    </form>
</body>
</html>